/* main.css */

@font-face {
    font-family: Roboto;
    src: url('../../asset/fonts/roboto-var.woff2');
}

* {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;

    /* my defined colors */
    --clr-off-white: #FAF9F6;
    --clr-pastel-pink: #ff8fab;
    --filter-pink: brightness(0) saturate(100%) invert(87%) sepia(20%) saturate(5635%) hue-rotate(294deg) brightness(101%) contrast(101%);
}

body {
    background-color: var(--clr-off-white);
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
}

nav {
    grid-column: 1 / 2;
}

main {
    background-color: pink;
    grid-column: 2 / 3;
}

footer {
    background-color: orange;
    grid-column: 1 / 3;
}